<body id="top">
      <div class="wrapper gradient">
    <div class="hoc container clear">

        <div class="sectiontitle">
        <p class="nospace font-xs">Pruébalas este mes a mitad de precio</p>
        <h6 class="heading font-x2">Ver nuestras pizzas</h6>
      </div>
      <ul class="nospace group team">
        <li class="one_third first">
          <figure><a class="imgover" href="#"><img src="assets/peperoni.jpeg" alt="Pizza de peperoni"></a>
            <figcaption><strong>Pizza peperoni</strong> <em>Queso, tomate, peperoni y orégano</em></figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="assets/barbacoa2.jpg" alt="Pizza de barbacoa"></a>
            <figcaption><strong>Pizza barbacoa</strong> <em>Queso, tomate, pollo, bacon, cebolla y salsa barbacoa</em></figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="assets/atun.jpg" alt="Pizza de atún"></a>
            <figcaption><strong>Pizza atún</strong> <em>Queso, tomate, atúm, cebolla y orégano</em></figcaption>
          </figure>
        </li>
      </ul>

      </div>
  </div>

  <div class="bgded overlay light" style="background-image:url('assets/01.png');">
    <section id="services" class="hoc container clear">


        <div class="sectiontitle">
          <p class="nospace font-xs">Comentario: Dado que un empleado puede crear nuevas pizzas, este apartado solo estaría disponible para empleados</p>
          <p class="nospace font-xs">Vea una lista de todos los ingredientes que puede añadir a una pizza</p>
          <h6 class="heading font-x2">Nuestros ingredientes de calidad</h6>
      </div>
      <ul class="nospace group elements elements-three">
        <li class="one_third">
          <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
            <h6 class="heading">Bacon</h6>
            <p>Interdum at congue semper purus quis odio id justo accumsan ullamcorper maecenas vel arcu nulla tincidunt elit ornare.</p>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
            <h6 class="heading">Jamon york</h6>
            <p>Urna proin venenatis eros viverra ultrices fringilla lectus urna consequat erat eget scelerisque ligula felis nec neque nam.</p>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
            <h6 class="heading">Extra de queso</h6>
            <p>Vitae ipsum vitae velit porttitor aliquam in quam aliquam ullamcorper sem a auctor dapibus nisi nunc vehicula nunc quis mattis.</p>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
            <h6 class="heading">Pollo</h6>
            <p>Pede turpis at elit nunc at urna sed ligula vivamus vel erat at diam imperdiet pharetra quisque justo turpis mattis ut vitae.</p>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
            <h6 class="heading">Peperoni</h6>
            <p>Tortor aenean leo ipsum elementum non cursus eu interdum ut risus proin risus nibh viverra eget lobortis feugiat egestas in nisl.</p>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
            <h6 class="heading">Atún</h6>
            <p>Fusce dignissim neque vitae justo aenean ac urna et leo posuere pretium nunc bibendum enim quis imperdiet elementum dui dolor.</p>
          </article>
        </li>
      </ul>

          </section>
  </div>

  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

  </body>
