<div class="main-container">
 <div class="ulc">
  <ul>
  <button class="btnRegistrarse1" style="vertical-align:middle" routerLinkActive="active" routerLink="/registro"><span>Registrarse </span></button>
  <button class="btnRegistrarse2" style="vertical-align:middle" routerLinkActive="active" routerLink="/login"><span>Log in usuario </span></button>
  <button class="btnRegistrarse3" style="vertical-align:middle" routerLinkActive="active" routerLink="/login-employe"><span>Log in empleado </span></button>
  </ul>
</div>
</div>
