

<div class="sectiontitle">
  <h6 class="heading font-x2">Nuestros ingredientes de calidad</h6>
</div>
<ul class="nospace group elements elements-three">
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">Bacon</h6>
    <p>Tocino ahumado de cerdo con vetas de carne magra de la mejor calidad.</p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">Jamon york</h6>
    <p>fiambre derivado de la carne de cerdo que se obtiene de los miembros posteriores del cerdo</p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">Extra de queso</h6>
    <p>Selección de los mejores quesos, mozzarella, parmesano, curado.......</p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">Pollo</h6>
    <p>Pollos caseros camperos criados en la sierra de la Pila a base de grano natural y hiervas.</p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">Peperoni</h6>
    <p>variedad estadounidense de salami, hecho de carne de cerdo curada y carne de res mezclado y sazonado con pimentón u otro ají.</p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">Atún</h6>
    <p>Atún claro del norte de España conservado en aceite de oliva virgen extra.</p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">Salsas</h6>
    <p>Salsa de tomate, BBQ Original, Bourbon, Carnonara Mornay, crema Fresca, Barbacoa</p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">Jamon serrano</h6>
    <p>Jamón serrano de uno de nuestros mejores proveedores Joselito. Jamones de pata negra de Guijuelo</p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">Anchoas</h6>
    <p>Anchoas de calidad gourmet, con 12 de meses de curación en aceite de oliva y sal. Anchoas de Santoña</p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">Setas</h6>
    <p>Selección de setas de temporada del pirineo Aragones: boletus, rebozuelo, colmenillas, shitake. </p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">cebolla caramelizada</h6>
    <p>Deliciosa cebolla caramelizada en su propio jugo y una mezcla de azúcares y otros condimentos</p>
  </article>
</li>
<li class="one_third">
  <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
    <h6 class="heading">verduras</h6>
    <p>Puedes añadir, tomate natural, pimiento verde, cebolla natural, maíz</p>
  </article>
</li>
</ul>




  <div class="bgded overlay row4" style="background-image:url('assets/01.png');">









