<h1>Pizza</h1>
<form #miForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <!-- <label class="form-label" for="id">Código:</label>
      <input class="form-control" [class.is-invalid]="id.invalid && miForm.dirty" type="text" name="id" id="id"
        [(ngModel)]="VM.Elemento.id" #id="ngModel" required>
      <div class="invalid-feedback" [hidden]="!id.hasError('required') || miForm.pristine">Es obligatorio</div> -->
    </div>
    <div class="form-group col-md-4">
      <label class="form-label" for="name">Nombre:</label>
      <input class="form-control" [class.is-invalid]="name.invalid" type="text" name="name" id="name"
        [(ngModel)]="VM.Elemento.name" #name="ngModel" required minlength="2" maxlength="50">
      <app-show-errors-messages [errors]="name.errors"></app-show-errors-messages>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-md-12">
      <label class="form-label" for="avatar">Precio:</label>
      <input class="form-control" [class.is-invalid]="price.invalid" type="number" name="price" id="price"
        [(ngModel)]="VM.Elemento.price" #price="ngModel" min="0.01" step=".01" pattern="^\d*(\.\d{0,2})?$">
      <div class="invalid-feedback" [hidden]="!price.hasError('min')">
        Debe tener un precio superior a 0 euros.</div>
      <div class="invalid-feedback" [hidden]="!price.hasError('type')">
        {{price.hasError('type')}}</div>
      <div class="invalid-feedback" [hidden]="!price.hasError('pattern')">
        Debe tener un máximo de 2 decimales.</div>
    </div>
  </div>
  <app-form-buttons (send)="VM.send()" [send-disabled]="miForm.invalid" (cancel)="VM.cancel()"></app-form-buttons>
  <!-- <div class="form-group">
    <input type="button" class="btn btn-success" value="Enviar" (click)="VM.send()" [disabled]="miForm.invalid">
    <input type="button" class="btn btn-info" value="Volver" (click)="VM.cancel()">
  </div> -->
</form>
