<div class="bgded overlay row4" style="background-image:url('assets/01.png');">
  <footer id="footer" class="hoc clear">


      <div class="one_quarter first">
      <h1 class="logoname"><a href="index.html">Nuestras<span>-</span>Redes Sociales</a></h1>
      <p>Scelerisque facilisis sapien turpis facilisis libero eu viverra purus dui ac leo sed vitae diam morbi sed nibh in eget dolor phasellus rhoncus odio morbi elit nunc id elit donec elementum [<a href="#">&hellip;</a>]</p>
<div class="socialmedia">
  <a class="socialface" href="https://www.facebook.com/"><i id="socialface" class="fab fa-facebook"></i></a>
  <a class="socialinst" href="https://www.instagram.com/?hl=es"><i id="socialinst" class="fab fa-instagram"></i></a>
  <a class="socialtwit" href="https://twitter.com/?lang=es"><i id="socialtwit" class="fab fa-twitter"></i></a>
  <a class="socialgith" href="https://github.com/"><i id="socialgith" class="fab fa-github"></i></a>
  <a class="socialyout" href="https://www.youtube.com/"><i id="socialyout" class="fab fa-youtube"></i></a>
</div>
    </div>
    <div class="one_quarter">
      <h1 class="logoname"><a href="index.html">Nuestros<span>-</span>Proveedores</a></h1>
      <ul class="nospace linklist">
        <li><a href="#">Sagittis leo morbi quis</a></li>
        <li><a href="#">Nulla vehicula felis laoreet</a></li>
        <li><a href="#">Pulvinar proin et eros ac</a></li>
        <li><a href="#">Mi vulputate accumsan fusce</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Tincidunt ullamcorper</h6>
      <ul class="nospace clear latestimg">
        <li><a class="imgover" href="#"><img src="assets/01.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="assets/01.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="assets/01.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="assets/01.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="assets/01.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="assets/01.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="assets/01.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="assets/01.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="assets/01.png" alt=""></a></li>
      </ul>
    </div>
    </footer>
</div>

    <div class="wrapper row5">
  <div id="copyright" class="hoc clear">

      <p class="fl_left">Footer left <a href="#"></a></p>
    <p class="fl_right">Footer right <a href=""></a></p>
  </div>
</div>
