  <div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">

        <a id="logoname" href="index.html"><img id="Logo" src="../../../assets/LogoFinal.jpg" alt="logo de la empresa"></a>

    </div>
    <nav id="mainav" class="fl_right">

      <ul class="clear">
        <br>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/inicio">Inicio</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/catalogo">Catálogo</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/pizzas">Pizzas</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/ingredientes">Ingredientes</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/user"><i id="user" class="fas fa-user"></i></a></li>
      </ul>

    </nav>
  </header>
</div>
