<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">

      <h1 class="logoname"><a href="index.html">
          <img id="Logo" src="assets/1483.jpg" alt="logo de la empresa">
        </a></h1>

    </div>
    <nav id="mainav" class="fl_right">

      <ul class="clear">
        <li><a class="nav-link" routerLinkActive="active" routerLink="/inicio">Inicio</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/catalogo">Catalogo</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/asd">Pizzas</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/ingredientes">Ingredientes</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/user"> <img id="iconoUsuario"
              src="assets/iconoUsuario.svg" alt="Icono usuario"></a></li>
      </ul>

    </nav>
  </header>
</div>
