<h1>Pizza</h1>
<form #miForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <!-- <label class="form-label" for="id">Código:</label>
      <input class="form-control" [class.is-invalid]="id.invalid && miForm.dirty" type="text" name="id" id="id"
        [(ngModel)]="VM.Elemento.id" #id="ngModel" required>
      <div class="invalid-feedback" [hidden]="!id.hasError('required') || miForm.pristine">Es obligatorio</div> -->
    </div>
    <div class="form-group col-md-4">
      <label class="form-label" for="name">Nombre:</label>
      <input class="form-control" [class.is-invalid]="name.invalid" type="text" name="name" id="name"
        [(ngModel)]="VM.Elemento.name" #name="ngModel" required minlength="2" maxlength="50">
      <app-show-errors-messages [errors]="name.errors"></app-show-errors-messages>
    </div>
    <div class="form-group col-md-2">
      <label class="form-label" for="ingredient">Ingredientes:</label>
      <select class="form-control form-select" name="ingredient" id="ingredient" [(ngModel)]="VM.Elemento.ingredients"
        #ingredient="ngModel">
        <option>88181312-6029-466e-a722-28e41d78abee</option>
        <option>78b6bdcc-e55b-4c17-890a-0a8f26e7506d</option>
        <option>6ac1c7b2-0f70-4512-8573-3eb9f97e5c0f</option>
        <option>ce881929-cfad-41d8-831c-bbf56d52a95b</option>
        <option>ef9ee7fb-cee2-48c1-965c-c5d6d64bcfa2</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-md-12">
      <label class="form-label" for="avatar">Foto:</label>
      <input class="form-control" [class.is-invalid]="image.invalid" type="text" name="image" id="image"
        [(ngModel)]="VM.Elemento.image" #image="ngModel" maxlength="500">
      <div class="invalid-feedback" [hidden]="!image.hasError('maxlength')">
        Debe tener menos 500 caracteres.</div>
      <div class="invalid-feedback" [hidden]="!image.hasError('type')">
        {{image.hasError('type')}}</div>
    </div>
  </div>
  <app-form-buttons (send)="VM.send()" [send-disabled]="miForm.invalid" (cancel)="VM.cancel()"></app-form-buttons>
  <!-- <div class="form-group">
    <input type="button" class="btn btn-success" value="Enviar" (click)="VM.send()" [disabled]="miForm.invalid">
    <input type="button" class="btn btn-info" value="Volver" (click)="VM.cancel()">
  </div> -->
</form>
