<div class="bgded overlay" style="background-image:url('../../../assets/posiblefondo.jpg');">
  <div id="pageintro" class="hoc clear">

      <article>
      <h3 class="heading">PizzaCap</h3>
      <p>Visita nuestra sección de pizzas donde puedes encontrar una selección de las mejores pizzas. </p>
      <footer><a class="btn" href="../../catalogo">Empezar mi pedido</a></footer>
    </article>

    </div>
</div>
    <div class="wrapper row1">
  <main class="hoc container clear">

      <section id="introblocks">
      <ul class="nospace group btmspace-80 elements elements-four">
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-eye"></i></a>
            <h6 class="heading">Ofertas</h6>
            <img id="pizzaCarbonara" >
            <p>Prueba nuestras nuevas pizzas con promociones únicas y limitadas</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-eye"></i></a>
            <h6 class="heading"> Ingredientes</h6>
            <p>Crea tu propia pizza con los ingredientes que más te gustan.</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-eye"></i></a>
            <h6 class="heading">Nuestras pizzas</h6>
            <p>Pruébalas, no te arrepentirás. Nuevas pizzas, más grandes y más sabor</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-upload"></i></a>
            <h6 class="heading">Subir imagen</h6>
            <p>Comparte tus imágenes preferidas. Sube imágenes de tus pizzas preferidas</p>
          </article>
        </li>
      </ul>
    </section>



      <section class="group shout">
      <figure class="one_half"><img id="packsPizzas" src="../../../assets/ofert.png" alt="imagen de packs de pizza">
        <figcaption class="heading"><a href="#">Packs</a></figcaption>
      </figure>
    </section>



  </main>
</div>


    <div class="bgded overlay light" style="background-image:url('../../../assets/fondoingredi.jpg');">
  <section id="services" class="hoc container clear">


      <div class="sectiontitle">
        <p class="nospace font-xs">Vea una lista de todos los ingredientes que puede añadir a una pizza</p>
        <h6 class="heading font-x2">Nuestros ingredientes de calidad</h6>
    </div>
    <ul class="nospace group elements elements-three">
      <li id="bacon" class="one_third">
        <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
          <h6 class="heading">Bacon</h6>
          <p>Tocino ahumado de cerdo con vetas de carne magra de la mejor calidad.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
          <h6 class="heading">Jamon york</h6>
          <p>Fiambre derivado de la carne de cerdo que se obtiene de los miembros posteriores del cerdo.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
          <h6 class="heading">Extra de quesos</h6>
          <p>Selección de los mejores quesos, mozzarella, parmesano y curado.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
          <h6 class="heading">Pollo</h6>
          <p>Pollo campero criados en la sierra de la Pila a base de grano natural y hierbas.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
          <h6 class="heading">Peperoni</h6>
          <p>Variedad estadounidense de salami, hecho de carne de cerdo curada y carne de res mezclado y sazonado con pimentón u otro ají.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i id="fa-euro-sign" class="fas fa-plus"></i></a>
          <h6 class="heading">Atún</h6>
          <p>Atún claro del norte de España conservado en aceite de oliva virgen extra.</p>
        </article>
      </li>
    </ul>

        </section>
</div>



    <div class="wrapper gradient">
  <div class="hoc container clear">

      <div class="sectiontitle">
      <p class="nospace font-xs">Pruébalas este mes a mitad de precio</p>
      <h6 class="heading font-x2">Ver nuestras pizzas</h6>
    </div>
    <ul class="nospace group team">
      <li class="one_third first">
        <figure><a class="imgover" href="#"><img src="assets/peperoni.jpeg" alt="Pizza de peperoni"></a>
          <figcaption><strong>Pizza peperoni</strong> <em>Queso, tomate, peperoni y orégano</em></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><a class="imgover" href="#"><img src="assets/barbacoa2.jpg" alt="Pizza de barbacoa"></a>
          <figcaption><strong>Pizza barbacoa</strong> <em>Queso, tomate, pollo, bacon, cebolla y salsa barbacoa</em></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><a class="imgover" href="#"><img src="assets/atun.jpg" alt="Pizza de atún"></a>
          <figcaption><strong>Pizza atún</strong> <em>Queso, tomate, atúm, cebolla y orégano</em></figcaption>
        </figure>
      </li>
    </ul>

    </div>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
